*.pyc
*.o
Makefile
Makefile.pre
Misc/python.pc
Modules/Setup
Modules/Setup.config
Modules/Setup.local
Modules/config.c
Modules/ld_so_aix
config.log
config.status
pyconfig.h
Parser/pgen
Parser/pgen.stamp
build/
libpython2.7.a
python
python-gdb.py
